.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.main-header a,
.main-header button,
.badge {
  color: white;
}
.main-header__h1 h1 {
  margin: 5px 0 0;
  display: inline-block;
}
.main-header__nav {
  display: flex;
}
.main-header__nav ul {
  list-style: none;
  margin-right: 50px;
}
.main-header__nav ul li {
  display: inline-block;
}

.main-header__nav button {
  height: 40px;
  font-weight: 600;
}
