.main-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  background-color: #333333;
}
.main-header a,
.main-header button {
  color: white;
}
.main-header__h1 h1 {
  margin: 5px 0 0;
}
.main-header__nav {
  display: flex;
}
.main-header__nav ul {
  list-style: none;
  margin-right: 50px;
}
.main-header__nav ul li {
  display: inline-block;
}
.btn {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: none;
  background: #008cfb;
  outline: none;
}
.main-header__nav button {
  background: #ff007e;
  height: 40px;
  font-weight: 600;
}
