a {
  text-decoration: none;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  color: #333333;
}

.app-container .left {
  width: 25%;
}

.app-container .right {
  width: 68%;
}
.app-container .left,
.app-container .right {
  margin-top: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.edit-btn {
  border-radius: 10px;
  background-color: #6db0c0;
  padding: 5px;
  height: 50%;
  width: 60px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 5px;
}

.btn {
  margin: 5px;
  padding: 10px;
  background: #008cfb;
  outline: none;
}

.badge {
  font-size: 80%;
  background-color: #d4554e;
  padding: 5px;
  margin-left: 10px;
  display: inline-block;
}

.btn,
.badge,
.edit-btn {
  border-radius: 7px;
  border: none;
  color: white;
}

.user-search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #999999;
  padding-bottom: 10px;
}
