a {
  text-decoration: none;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.app-container .left {
  width: 25%;
}

.app-container .right {
  width: 70%;
}
.app-container .left,
.app-container .right {
  margin-top: 20px;
}
