a {
  text-decoration: none;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  color: #333333;
}

.app-container .left {
  width: 25%;
}

.app-container .right {
  width: 70%;
}
.app-container .left,
.app-container .right {
  margin-top: 20px;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.edit-btn {
  border-radius: 10px;
  color: white;
  background-color: #6db0c0;
  padding: 5px;
  height: 50%;
  width: 60px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  margin: 5px;
}
