.form label,
.form input,
.form textarea,
.form select {
  width: 98%;
  max-width: 98%;
}
.form label {
  color: #999999;
}
.form input,
.form textarea,
.form select {
  display: block;
  outline: none;
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px;
  border: solid 1px #dddddd;
  min-height: 35px;
}
.form .submit-btn {
  width: 110px;
  margin: 0 20px;
}
.form .cancel-btn,
.form select {
  background-color: white;
  border: solid 1px #dddddd;
  color: #333333;
}
.form .submit-btn,
.form .cancel-btn {
  font-size: 110%;
}
.outer {
  width: 99%;
}
.inner {
  width: 50%;
}
.inner {
  display: inline-block;
}
@media screen and (max-width: 768px) {
  .inner {
    width: 100%;
  }
  .form .submit-btn {
    width: 90px;
    margin: 0 10px;
  }
}
@media only screen and (max-width: 640px) {
  .form {
    font-size: 80%;
  }
  .form .submit-btn {
    width: 80px;
  }
}
