.form label,
.form input,
.form textarea {
  width: 98%;
  max-width: 98%;
}
.form label {
  color: #999999;
}
.form input,
.form textarea {
  display: block;
  outline: none;
  border-radius: 5px;
  margin: 10px 0;
  padding: 5px;
  border: solid 1px #dddddd;
  min-height: 35px;
}
.form .submit-btn {
  width: 110px;
  margin: 0 20px;
}
.form .cancel-btn {
  background-color: white;
  border: solid 1px #dddddd;
  color: #333333;
}
.form .submit-btn,
.form .cancel-btn {
  font-size: 110%;
}
